<header>
    <a href="index.html"><img src="./assets/images/logok.png" alt="logo"></a>
    <div class="menu">
        <ul>
            <li><a href="#section2">Orígens</a></li>
            <li><a href="#section3">Recepta</a></li>
        </ul>
        <div class="menu__obrir">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <div class="desplegat">
        <div class="desplegat__tancar">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <ul>
            <li><a href="#section2">Orígens</a></li>
            <li><a href="#section3">Recepta</a></li>
        </ul>
    </div>
</header>